$whiteColor: #fff;
$blackColor: #333;
$blueColor: #3f9dcc;
$grayColor: #666;
$lightGrayColor: lighten($grayColor, 55%);
$lightRedColor: #b94a48;

$linkColor: $blueColor;
$linkHoverColor: darken($linkColor, 5%);
$defaultShadowColor: rgba(0, 0, 0, .4);
$defaultBorderColor: #ddd;
$defaultButtonNormalColor: $blueColor;
$defaultButtonHoverColor: darken($defaultButtonNormalColor, 3%);
$defaultNoscriptBackgroundColor: $lightRedColor;
$defaultNoscriptBorderColor: darken($lightRedColor, 15%);

$defaultHeight: 70px;
$gridColumnWidth: 75px;
$gridGutterWidth: 0px;

@import "global/mixins";
@import "bootstrap";