$whiteColor: #fff;
$blackColor: #333;
$blueColor: #3f9dcc;
$lightBlueColor: #d0dfe7;
$grayColor: #666;
$lightGrayColor: lighten($grayColor, 55%);
$lightRedColor: #b94a48;

$defaultShadowColor: rgba(0, 0, 0, .4);
$defaultBorderColor: #ddd;
$defaultButtonNormalColor: $blueColor;
$defaultButtonHoverColor: darken($defaultButtonNormalColor, 3%);
$defaultNoscriptBackgroundColor: $lightRedColor;
$defaultNoscriptBorderColor: darken($lightRedColor, 15%);

$bubbleErrorBgColor: #da7676;
$bubbleErrorTextColor: $whiteColor;
$bubbleErrorBorderColor: darken($bubbleErrorBgColor, 8%);

$defaultNprogressBackgroundColor: $blueColor;
$defaultNprogressHeight: 2px;

// Twitter Bootstrap overriding
$linkColor: $blueColor;
$linkHoverColor: darken($linkColor, 5%);
$defaultHeight: 70px;
$gridColumnWidth: 75px;
$gridGutterWidth: 0px;

@import "compass/css3";
@import "global/animations";
@import "global/mixins";
@import "bootstrap";