= form_for '', :method => :get, :html => {:class => 'form-search well'} do
  input{ name='keywords' type='text' class='input-large search-query' }
  | &nbsp;
  button{ type='submit' class='btn' } = t('.search')