h2 = t('ui.pages.text.terms')

hr

p
  | Настоящее Соглашение определяет условия использования Пользователями материалов 
  a href=root_path сайта
  |  (далее — «Сервис»).

.clearfix

h3 1. Общие условия

.clearfix

p 1.1. Использование материалов Сервиса регулируется нормами действующего законодательства Российской Федерации.

p 1.2. Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сервиса Пользователь считается присоединившимся к настоящему Соглашению.

p 1.3. Администрация Сервиса вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сервису, прекратить использование материалов Сервиса.

.clearfix

h3 2. Обязательства Пользователя

.clearfix

p 2.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сервиса.

p 2.2. Пользователь предупрежден о том, что Администрация Сервиса не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.

p 2.3. Пользователь согласен с тем, что Администрация Сервиса не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сервиса, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сервисе информацию или ссылки на внешние ресурсы.

p 2.4. Пользователь принимает положение о том, что все материалы Сервиса или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сервиса не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.

.clearfix

h3 3. Прочие условия

.clearfix

p 3.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.

p 3.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сервиса агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.

p 3.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.

p 3.4. Бездействие со стороны Администрации Сервиса в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сервиса права предпринять поздние соответствующие действия в защиту своих интересов.