@mixin ellipsis-text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin verticaly-aligned-content($vposition: middle) {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: $vposition;
  }
  > * {
    vertical-align: $vposition;
  }
}

@mixin cleared {
  &:after {
    content: ' ';
    display: block;
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    visibility: hidden;
  }
}

@mixin company-logo($width, $float: false) {
  .company-logo {
    @if $float { float: $float; }
    position: relative;
    display: inline-block;
    width: $width;
    padding-top: $width;
    overflow: hidden;
    > .logo-container {
      @include verticaly-aligned-content;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      line-height: 0;
      text-align: center;
      overflow: hidden;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}