/*
 *= require_directory ./plugins
 *= require_self
 */

@import "global/config/admin";

.fullwidth {
  width: 100%;
}

.radio.inline ~ .radio.inline,
.checkbox.inline ~ .checkbox.inline {
  margin-left: 10px;
}

#flash {
  position: fixed;
  font-size: 0.9em;
  right: -100%;
  bottom: 60px;
  z-index: 9999;
  &.noscript {
    right: 30px;
  }
  > .body {
    @include box_shadow(3px 3px 5px $defaultShadowColor);
    opacity: 0.9;
    border-radius: 6px;
    color: #fff;
    width: 300px;
    margin: 0 auto;
    padding: 10px 12px;
    text-align: center;
    text-shadow: none;
    &.notice {
      background-color: #468847;
      border: 1px solid darken(#468847, 5%);
    }
    &.alert {
      background-color: #b94a48;
      border: 1px solid darken(#b94a48, 5%);
    }
  }
}

body { 
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1em;
  > .navbar {
    margin: 0;
    > .navbar-inner {
      border-radius: 0;
    }
  }
  > header {
    @include box_shadow(0 0 5px #bbb);
    background-color: #ddd;
    border-bottom: 1px solid $defaultBorderColor;
    padding: 10px 10px 10px 60px;
    h1 {
      font-size: 2em;
    }
  }
  > .container-fluid {
    > .row-fluid {
      .contentable {
        padding: 30px 30px 30px 60px;
        > .table {
          > tbody {
            > tr {
              > td {
                &:last-child {
                  text-align: right;
                  white-space: nowrap;
                }
              }
            }
          }
        }
        > form {
          > fieldset {
            @include company-logo(100px);
          }
        }
      }
    }
  }
}