/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.logo a, .logo a:hover {
  text-decoration: none;
  color: #333;
}

.pagination {
  text-align: center;
}

.stay-connected a {
  margin-right: 9px;
}

.clearfix {
  height: 30px;
}

.social-buttons {
  margin-top: 5px;
}

#login-form {
  width: 250px;
  margin-left: -125px;
}