/*
 *= require_directory ./plugins
 *= require_self
 */

@import "global/config/application";

*, *:before, *:after {
  @include box-sizing(border-box);
}

a {
	color: $linkColor;
  &:hover {
  	color: $linkHoverColor;
    text-decoration: none;
  }
}

button, input[type="submit"] {
  border: none;
  font-family: inherit;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  height: 30px;
}

.input.file {
  > input[type="file"] {
    position: absolute;
    font-size: 200px;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    direction: ltr;
    cursor: pointer;
  }
}

.center-aligned-text {
  text-align: center;
}

.right-aligned-text {
  text-align: right;
}

.left-aligned-text {
  text-align: left;
}

.clear {
  clear: both;
}

.clearfix {
  height: 15px;
}

.required {
  color: $lightRedColor;
}

.fullwidth {
  width: 100%;
}

.checkbox.inline {
  padding-top: 0;
  label {
    margin-bottom: 0;
  }
  &:first-child {
    padding-top: 0;
  }
}

.checkbox.inline + .checkbox.inline,
.checkbox.inline ~ .checkbox.inline {
  margin-left: 20px;
}

.abtn, .input.file {
  @include box_shadow(0 1px 3px $defaultShadowColor);
  position: relative;
  display: inline-block;
  background-color: $defaultButtonNormalColor;
  color: $whiteColor;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 10px 6px;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  &:hover {
    background-color: $defaultButtonHoverColor;
    text-decoration: none;
    color: $whiteColor;
  }
  &:active {
    top: 1px;
  }
}

.bubble {
  position: absolute;
  border-radius: 10px;
  font-size: 0.9em;
  padding: 10px;
  max-width: 360px;
  opacity: 0;
  z-index: 1;
  &:before, &:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 12px;
    left: 10px;
  }
  &:after {
    border-color: rgba(136, 183, 213, 0);
    border-width: 10px;
    left: 12px;
  }
  &.error {
    background-color: $bubbleErrorBgColor;
    color: $bubbleErrorTextColor;
    border: 1px solid $bubbleErrorBorderColor;
    &:after {
      border-top-color: $bubbleErrorBgColor;
    }
    &:before {
      border-top-color: $bubbleErrorBorderColor;
    }
  }
  > span {
    display: block;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.spinner-button {
  @include verticaly-aligned-content;
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 1;
  ~ * {
    height: 0;
    visibility: hidden;
  }
  > .bounce {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: $whiteColor;
    border-radius: 100%;
    margin-right: 3px;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    &:last-child {
      margin-right: 0;
    }
    &.one {
      -webkit-animation-delay: -0.48s;
      animation-delay: -0.48s;
    }
    &.two {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    &.three {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
  }
}

#captcha {
  display: none;
}

#flash {
  position: fixed;
  right: -100%;
  bottom: 60px;
  z-index: 9999;
  &.noscript {
    right: 30px;
  }
  > .body {
    @include box_shadow(3px 3px 5px $defaultShadowColor);
    color: $whiteColor;
    border-radius: 6px;
    width: 300px;
    margin: 0 auto;
    padding: 10px 12px;
    opacity: 0.9;
    text-align: center;
    text-shadow: none;
    &.notice {
      background-color: #468847;
      border: 1px solid darken(#468847, 5%);
    }
    &.alert {
      background-color: #b94a48;
      border: 1px solid darken(#b94a48, 5%);
    }
  }
}

#breadcrumbs {
  @include ellipsis-text-overflow;
  @include verticaly-aligned-content;
  font-size: 12px;
  margin-bottom: 30px;
  > a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  > .splitter {
    display: inline-block;
    margin: 0 10px;
  }
}

#nprogress {
  pointer-events: none;
  > .bar {
    position: fixed;
    background-color: $defaultNprogressBackgroundColor;
    top: 0;
    left: 0;
    width: 100%;
    height: $defaultNprogressHeight;
    z-index: 100;
    > .peg {
      @include transform(rotate(3deg) translate(0px, -4px));
      @include box-shadow(0 0 10px $defaultNprogressBackgroundColor, 0 3px 5px $defaultNprogressBackgroundColor);
      position: absolute;
      display: block;
      right: 0;
      width: 100px;
      height: 100%;
      opacity: 1;
    }
  }
}

body {
  background: image-url('bg.png') 0 0 repeat;
  font-family: Helvetica, FreeSans, 'Droid Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: $grayColor;
  padding: 30px 0 30px 0;
  .system-warnings {
    position: fixed;
    background-color: $defaultNoscriptBackgroundColor;
    border-bottom: $defaultNoscriptBorderColor;
    line-height: 2em;
    text-shadow: none;
    text-align: center;
    color: $whiteColor;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  .container {
    > header, footer {
      text-shadow: 0px 1px 0px darken($whiteColor, 10%);
    }
    > header {
      position: relative;
      > .logo {
        display: inline-block;
        font-size: 1.9em;
        font-weight: 400;
        margin-left: 12px;
        text-transform: uppercase;
        a {
          text-decoration: none;
          color: $blackColor;
          &:hover {
            text-decoration: none;
          }
        }
        > strong {
          font-weight: 600;
        }
      }
      > .lead {
        font-size: 16px;
        margin: -35px 0 35px 92px;
      }
      > .manage-buttons {
        margin-top: 1em;
      }
    }
    > .row {
       @include box_shadow(0 0 10px $defaultShadowColor);
       background-color: $lightGrayColor;
       border-radius: 5px;
      .contentable {
        @include box_shadow(7px 0 7px darken($whiteColor, 20%));
        background-color: $whiteColor;
        border-radius: 5px 0 0 5px;
        min-height: 600px;
        padding: 30px 45px 45px 45px;
        overflow: hidden;
        text-shadow: none;
      }
      .sidebar {
        margin: 30px 30px 30px 35px;
        text-shadow: none;
        > .post-vacancy {
          > p {
            margin-bottom: 20px;
          }
          > .post-vacancy-button {
            > a {
              font-size: 1.5em;
              line-height: 32px;
              width: 100%;
            }
          }
        }
        > .clearfix {
          border-bottom: 1px solid #ddd;
          height: 30px;
          margin-bottom: 30px;
        }
        > .stay-connected {
          > h3 {
            line-height: 1em;
          }
          > a {
            margin-right: 9px;
            &:last-child {
            	margin-right: 0;
            }
            > img {
            	max-width: 72px;
            }
          }
        }
      }
    }
    > footer {
      margin-top: 1em;
      margin-bottom: 2em;
      text-align: right;
      a {
        color: $blackColor;
        font-weight: 300;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
      > .about {
        float: left;
        > a {
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@import "vacancies";