/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

header .logo a,
header .logo a:hover {
  text-decoration: none;
  color: #333;
}

footer {
  margin-top: 1em;
  margin-bottom: 2em;
}

.container .row {
  background: url('/assets/bg.jpeg') 0 0 repeat;
  box-shadow: 0 0 10px #999;
  border-radius: 5px;
}

.sidebar {
  margin: 30px 10px 30px 15px;
}

.stay-connected a {
  margin-right: 9px;
}

.social-buttons {
  margin-top: 5px;
}

.pagination {
  text-align: center;
}

.contentable {
  padding: 30px;
}

.clearfix {
  height: 30px;
}

/* Login form >> */
#login-form {
  width: 250px;
  margin-left: -125px;
}
/* << Login form */

/* Vacancies >> */
.vacancy,
.vacancy-in {
  min-height: 80px;
  margin-bottom: 30px;
}

.vacancy h2,
.vacancy .location,
.vacancy-in .location {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vacancy .company-logo {
  height: 80px;
  margin-right: 15px;
  padding: 5px 0 0 0;
}

.vacancy-in .vacancy-in-header {
  min-height: 100px;
}
/* << Vacancies */