/*
 *= require_directory ./plugins
 *= require_self
 */

@import "global/env";
@import "global/mixins";

a {
	color: $linkColor;
  &:hover {
  	color: $linkHoverColor;
    text-decoration: none;
  }
}

button, input[type="submit"] {
  border: none;
  font-family: inherit;
}

.center-aligned-text {
  text-align: center;
}

.right-aligned-text {
  text-align: right;
}

.left-aligned-text {
  text-align: left;
}

.clear {
  clear: both;
}

.clearfix {
  height: 15px;
}

.required {
  color: $lightRedColor;
}

.fullwidth {
  width: 100%;
}

.zurb-btn {
  @include box_shadow(0 1px 3px $defaultShadowColor);
  position: relative;
  background-color: $defaultButtonNormalColor;
  display: inline-block;
  color: $whiteColor;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  border-radius: 5px;
  font-size: 14px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px 6px;
  &:hover {
    background-color: $defaultButtonHoverColor;
    text-decoration: none;
    color: $whiteColor;
  }
  &:active {
    top: 1px;
  }
}

.bubble {
  @include opacity(0);
  position: absolute;
  border-radius: 10px;
  font-size: 0.9em;
  padding: 10px;
  max-width: 360px;
  z-index: 1;
  &:before, &:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 12px;
    left: 10px;
  }
  &:after {
    border-color: rgba(136, 183, 213, 0);
    border-width: 10px;
    left: 12px;
  }
  &.error {
    background-color: $bubbleErrorBgColor;
    color: $bubbleErrorTextColor;
    border: 1px solid $bubbleErrorBorderColor;
    &:after {
      border-top-color: $bubbleErrorBgColor;
    }
    &:before {
      border-top-color: $bubbleErrorBorderColor;
    }
  }
  > span {
    display: block;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

body {
  background: image-url('bg.png') 0 0 repeat;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
  color: $grayColor;
  text-shadow: 0px 1px 0px $whiteColor;
  padding: 30px 0 30px 0;
  .flash {
    position: fixed;
    right: -1000px;
    bottom: 60px;
    z-index: 9999;
    &.noscript {
      right: 30px;
    }
    > .body {
      @include box_shadow(3px 3px 5px $defaultShadowColor);
      opacity: 0.9;
      border-radius: 6px;
      color: $whiteColor;
      width: 300px;
      margin: 0 auto;
      padding: 10px 12px;
      text-align: center;
      text-shadow: none;
      &.notice {
        background-color: #468847;
        border: 1px solid darken(#468847, 5%);
      }
      &.alert {
        background-color: #b94a48;
        border: 1px solid darken(#b94a48, 5%);
      }
    }
  }
  .system-warnings {
    position: fixed;
    background-color: $defaultNoscriptBackgroundColor;
    border-bottom: $defaultNoscriptBorderColor;
    line-height: 2em;
    text-shadow: none;
    text-align: center;
    color: $whiteColor;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  > .container {
    header {
      > .logo {
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.9em;
        font-weight: 400;
        margin-left: 12px;
        text-transform: uppercase;
        a {
          text-decoration: none;
          color: #333;
          &:hover {
            text-decoration: none;
          }
        }
        > strong {
          font-weight: 600;
        }
      }
      > .lead {
        font-size: 16px;
        margin: -35px 0 35px 92px;
      }
      > .manage-buttons {
        margin-top: 1em;
      }
    }
    > .row {
       @include box_shadow(0 0 10px $defaultShadowColor);
       background-color: $lightGrayColor;
       border-radius: 5px;
      .contentable {
        @include box_shadow(7px 0 7px darken($whiteColor, 20%));
        background-color: $whiteColor;
        border-radius: 5px 0 0 5px;
        overflow: hidden;
        min-height: 600px;
        padding: 30px 45px 45px 45px;
        text-shadow: none;
      }
      .sidebar {
        min-height: 600px;
        margin: 30px 30px 30px 35px;
        text-shadow: none;
        > .post-vacancy {
          > p {
            margin-bottom: 20px;
          }
          > .post-vacancy-button {
            > .zurb-btn {
              @include box-sizing(border-box);
              line-height: 32px;
              font-size: 1.5em;
              width: 100%;
            }
          }
        }
        > .clearfix {
          border-bottom: 1px solid #ddd;
          height: 30px;
          margin-bottom: 30px;
        }
        > .stay-connected {
          > h3 {
            line-height: 1em;
          }
          > a {
            margin-right: 9px;
            &:last-child {
            	margin-right: 0;
            }
            > img {
            	max-width: 72px;
            }
          }
        }
      }
    }
    > footer {
      margin-top: 1em;
      margin-bottom: 2em;
      a {
        text-decoration: none;
        color: #333;
        &:hover {
          text-decoration: none;
        }
      }
      > h5 {
        margin-right: 15px;
      }
    }
  }
}

@import "vacancies";