@defaultHeight: 70px;
@defaultShadowColor: #999;
@defaultBorderColor: #ddd;
@defaultButtonNormalColor: #08c;
@defaultButtonHoverColor: darken(@defaultButtonNormalColor, 15%);

// Main
a:hover {
  text-decoration: none;
}

header .logo a,
header .logo a:hover,
footer a,
footer a:hover {
  text-decoration: none;
  color: #333;
}

header .manage-buttons {
  margin-top: 1em;
}

footer {
  margin-top: 1em;
  margin-bottom: 2em;
}

button,
input[type="submit"] {
  border: none;
  font-family: inherit;
}

label.terms a,
label.terms a:hover {
  color: #08c;
  border-bottom: 1px dashed;
}

.label {
  font-weight: normal;
}

.container .row {
  background: url('/assets/container.png') 0 0 repeat;
  box-shadow: 0 0 10px @defaultShadowColor;
  border-radius: 5px;
}

.sidebar {
  margin: 30px 12px 30px 12px;
}

.sidebar a.zurb-btn p {
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
}

.stay-connected h3 {
  line-height: 1em;
}

.stay-connected p {
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  margin-top: 5px;
}

.stay-connected a {
  margin-right: 9px;
}

.social-buttons {
  margin-top: 5px;
}

.pagination {
  text-align: center;
}

.contentable {
  overflow: hidden;
  padding: 45px;
}

.centered-text {
  text-align: center;
}

.clear {
  clear: both;
}

.clearfix {
  height: 30px;
}

.required {
  color: #b94a48;
}

// Vacancies
.vacancies .vacancy {
  border-bottom: 1px solid @defaultBorderColor;
}

.vacancies :last-child {
  border: none;
}

.vacancy {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.vacancy-in {
  min-height: @defaultHeight;
}

.vacancy .title,
.vacancy .location,
.vacancy-in .location {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vacancy .title,
.vacancy-in .title {
  font-size: 1.1em;
  line-height: 36px;
}

.vacancy .company-logo {
  height: @defaultHeight;
  margin-right: 15px;
  padding: 5px 0 0 0;
}

.vacancy-in .vacancy-in-header {
  min-height: @defaultHeight;
}

.vacancy-in .vacancy-in-header .company-logo {
  margin-bottom: 10px;
}

// Filter form
#filter-form {
  margin: -45px 0 30px 0;
  background-color: #eee;
  border-left: 1px solid @defaultBorderColor;
  border-right: 1px solid @defaultBorderColor;
  border-bottom: 1px solid @defaultBorderColor;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 6px @defaultShadowColor;
  overflow: hidden;
}

#filter-form form {
  margin: 0;
  padding: 30px 45px 0px 45px;
}

#filter-form #filter_keywords {
  width: 80%;
}

#filter-form .keywords,
#filter-form .occupations {
  text-align: center;
}

#filter-form .switcher {
  height: 1em;
  background: url('/assets/filter-hide.png') 50% 0 no-repeat;
  text-align: center;
}

#filter-form .switcher.hidden {
  background: url('/assets/filter-show.png') 50% 0 no-repeat;
  text-align: center;
}

#filter-form .switcher:hover {
  background-color: #ddd;
}

// Zurb buttons
.zurb-btn {
  position: relative;
  background-color: @defaultButtonNormalColor;
  display: inline-block;
  color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  font-size: 14px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px 6px;
}

.zurb-btn:hover {
  background-color: @defaultButtonHoverColor;
  text-decoration: none;
  color:  #fff;
}

.zurb-btn:active {
  top: 1px;
}

// Captcha
#captcha {
  display: none;
}