@defaultHeight: 70px;
@defaultShadowColor: #999;
@defaultBorderColor: #ddd;

// Main
header .logo a,
header .logo a:hover {
  text-decoration: none;
  color: #333;
}

footer {
  margin-top: 1em;
  margin-bottom: 2em;
}

.container .row {
  background: url('/assets/container.png') 0 0 repeat;
  box-shadow: 0 0 10px @defaultShadowColor;
  border-radius: 5px;
}

.sidebar {
  margin: 30px 10px 30px 15px;
}

.stay-connected a {
  margin-right: 9px;
}

.social-buttons {
  margin-top: 5px;
}

.pagination {
  text-align: center;
}

.contentable {
  padding: 45px 30px 45px 45px;
}

.clear {
  clear: both;
}

.clearfix {
  height: 30px;
}

// Login form
#login-form {
  width: 250px;
  margin-left: -125px;
}

// Vacancies
.vacancies .vacancy {
  border-bottom: 1px solid @defaultBorderColor;
}

.vacancies :last-child {
  border: none;
}

.vacancy {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.vacancy-in {
  min-height: @defaultHeight;
}

.vacancy .title,
.vacancy .location,
.vacancy-in .location {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vacancy .title,
.vacancy-in .title {
  font-size: 1.1em;
  line-height: 36px;
}

.vacancy .company-logo {
  height: @defaultHeight;
  margin-right: 15px;
  padding: 5px 0 0 0;
}

.vacancy-in .vacancy-in-header {
  min-height: @defaultHeight;
}

.vacancy-in .vacancy-in-header .company-logo {
  margin-bottom: 10px;
}