// Override column width and grid gutter
$gridColumnWidth: 70px;
$gridGutterWidth: 0px;

// Default link color
$linkColor: #08c;

@import "bootstrap";

// Customize
body { 
  background: url('/assets/bg.png') 0 0 repeat;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 30px 0 30px 0;
  text-shadow: 0px 1px 0px #fff;
  font-size: 1em;
  color: #666;
}

[class^="icon-"], [class*=" icon-"] {
  padding-left: 11px;
}

.form-horizontal .controls {
  margin-left: 111px;
}

.form-horizontal .form-actions {
  padding-left: 111px;
}

.form-horizontal .control-label {
  width: 101px;
}

.form-actions .control-group {
  margin-left: 0;
}

.control-group {
  margin-left: 20px;
}

.control-group label.error {
  color: $errorText;
}

.pager {
  margin: 0;
}
